<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspire.Dashboard.Sdk.win-x64" version="13.1.0" targetFramework="net6.0" />
  <package id="Aspire.Hosting.AppHost" version="13.1.0" targetFramework="net6.0" />
  <package id="Aspire.Hosting.Orchestration.win-x64" version="13.1.0" targetFramework="net6.0" />
</packages>